*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Cont{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 20px;
}

.Header{
  width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header input{
  width: 65%;
  height: 40px;
  border-radius: 10px;
}

.Header button{
  border-radius: 10px;
  width: 25%;
  height: 40px;
}

.List{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.List div{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  height: 50px;
}

.List div input, button{
  width: 25px;
    height: 25px;
}

.Footer{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer div{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer div button{
  width: 100px;
  height: 40px;
}